* {
  background-color: #ddd;
  width: 100%;
}
#root {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
